:root {
    --ilw-button--background-color: var(--il-blue);
    --ilw-button--foreground-color: white;
    --ilw-button--border-color: var(--il-blue);
    --ilw-button--focused-background-color: white;
    --ilw-button--focused-foreground-color: var(--il-blue);
    --ilw-button--focused-border-color: var(--il-blue);
}

.ilw-theme-orange {
    --ilw-button--background-color: var(--il-orange);
    --ilw-button--foreground-color: white;
    --ilw-button--border-color: var(--il-orange);
    --ilw-button--focused-background-color: white;
    --ilw-button--focused-foreground-color: var(--il-orange);
    --ilw-button--focused-border-color: var(--il-orange);
}

.ilw-theme-white {
    --ilw-button--background-color: white;
    --ilw-button--foreground-color: var(--il-blue);
    --ilw-button--border-color: var(--il-blue);
    --ilw-button--focused-background-color: var(--il-blue);
    --ilw-button--focused-foreground-color: white;
    --ilw-button--focused-border-color: var(--il-blue);
}

.ilw-theme-white-orange {
    --ilw-button--background-color: white;
    --ilw-button--foreground-color: var(--il-orange);
    --ilw-button--border-color: var(--il-orange);
    --ilw-button--focused-background-color: var(--il-orange);
    --ilw-button--focused-foreground-color: white;
    --ilw-button--focused-border-color: var(--il-orange);
}

ul.ilw-buttons {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    margin: 10px 0 0 0;
    justify-content: center;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

a.ilw-button, button.ilw-button, ul.ilw-buttons a, ul.ilw-buttons button {
    background-color: var(--ilw-button--background-color);
    color: var(--ilw-button--foreground-color);
    border: 2px solid var(--ilw-button--border-color);
    font: 700 1.188rem / 1.25rem var(--il-font-sans);
    display: inline-block;
    margin: 6px 0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25em;
    letter-spacing: .01em;
    transition: background-color 0.3s;
    cursor: pointer;

    &:visited {
        outline: 0;
        background-color: var(--ilw-button--background-color);
        color: var(--ilw-button--foreground-color);
        border: 2px solid var(--ilw-button--border-color);
    }

    &:hover,
    &:focus {
        outline: 0;
        background-color: var(--ilw-button--focused-background-color);
        color: var(--ilw-button--focused-foreground-color);
        border-color: var(--ilw-button--focused-border-color);
    }
}

.ilw-button-large {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 20px 40px;
}

.ilw-button.ilw-width-full {
    position: initial;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.ilw-buttons.ilw-width-full {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    li {
        flex-grow: 2;

        a, button {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}