:root {
  --ilw-color--border: var(--il-storm-60);
  --ilw-color--table-row-stripe: var(--il-storm-95);
  --ilw-color--table-head-background: var(--il-blue);
  --ilw-color--table-head-color: white;
}

table {
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid var(--ilw-color--table-border);
  width: 100%;
  overflow: auto;

  @media (width <= 599px) {
    border: none;
  }

  caption {
    display: table-caption;
    padding: 1rem 0 1rem;
    font: 700 1.25rem/1.8rem var(--il-font-sans);
    color: var(--ilw-color--text);
    background: var(--ilw-color--table-background);
  }
}

tr {
  background: var(--ilw-color--table-background);
}

th {
  box-sizing: border-box;
  text-align: left;
  font-weight: 700 !important;
  font-size: 1.2rem;
  border-top: 1px solid var(--ilw-color--table-border);
  border-bottom: 1px solid var(--ilw-color--table-border);
  border-left: none;
  border-right: 1px solid var(--ilw-color--table-border);
  padding: .75rem 1rem;
  vertical-align: middle;
  word-break: normal;
  overflow-wrap: normal;
  font: 700 1.2rem/1.667rem var(--il-font-sans);
  color: var(--ilw-color--text);
}

th:first-of-type {
  border-left: 1px solid var(--ilw-color--table-border);
}

th:last-of-type {
  border-right: 1px solid var(--ilw-color--table-border);
}

thead th {
  background: var(--ilw-color--table-head-background);
  color: white;
  word-break: normal;
  overflow-wrap: normal;
}

tbody th {
  background: var(--ilw-color--table-head-background);
  color: white;
  font-weight: 700 !important;
  white-space: nowrap;
}

td {
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  padding: .75rem 1rem;
  border-top: 1px solid var(--ilw-color--table-border);
  border-bottom: 1px solid var(--ilw-color--table-border);
  border-left: none;
  border-right: 1px solid var(--ilw-color--table-border);
  word-break: normal;
  overflow-wrap: normal;
  font: 400 1.125rem/1.667rem var(--il-font-sans);
  color: var(--ilw-color--text);
}

td:first-of-type {
  border-left: 1px solid var(--ilw-color--table-border);
}

td:last-of-type {
  border-right: 1px solid var(--ilw-color--table-border);
}

.ilw-table-stripe {
  tr:nth-child(even) {
    background: var(--ilw-color--table-row-stripe);
  }
}

.ilw-table-responsive {
  max-width: 100%;
  min-width: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* smoother scroll on iOS */
}

.ilw-table-responsive table {
  width: 100%;

  @media (width <= 599px) {
    width: auto;
  }
}

@media (width <= 599px) {
  .ilw-table-responsive thead th {
    white-space: nowrap;
  }
}


